.home-recommendations-container {
  z-index: 91;
  transition: 0.8s ease-in-out;
  padding: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
}
.home-recommendations-header {
  font-size: 6em;
  text-align: center;
  color: var(--primary);
}
.home-recommendations-button {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 0 15px;
  border-radius: 30px;
  color: white;
  background-color: var(--primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.home-recommendations-button:hover {
  color: var(--primary);
  background-color: rgba(200, 200, 200, 1);
}
.home-recommendations-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 1vh;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  place-items: center;
}
.home-recommendations-grid::-webkit-scrollbar {
  width: 5px;
}
.home-recommendations-grid::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
.home-recommendations-grid::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 1);
}
.recipe-card-container {
  margin: 0 10px;
  position: relative;
  width: 450px;
  height: 450px;
}

@media screen and (max-width: 2320px) {
  .home-recommendations-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 1360px) {
  .home-recommendations-grid {
    width: fit-content;
    grid-template-columns: none;
  }
}
@media screen and (max-width: 800px) {
  .home-recommendations-container {
    padding: 30px 0;
  }
}
