.home-recommendations-container {
  margin: 15vh auto;
  padding: 5vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3vh;
  z-index: 91;
  transition: 0.5s ease-in-out;
}
.home-recommendations-header {
  margin-bottom: 1vh;
  font-size: calc(100vh * 0.05);
  font-weight: 500;
  text-align: center;
}
.home-recommendations-button {
  width: 20%;
  text-align: center;
  margin: 0 auto 3vh;
  font-size: 1.5vh;
  font-weight: 400;
  border-radius: 3vh;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.home-recommendations-button:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(200, 200, 200, 1);
}
.home-recommendations-grid {
  display: grid;
  grid-template-columns: 21vw 21vw 21vw;
  row-gap: 5vh;
  max-height: 35vh;
  margin-top: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home-recommendations-grid::-webkit-scrollbar {
  width: 0.5vh;
}
.home-recommendations-grid::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.8);
}
.home-recommendations-grid::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}
.home-recommendations-grid::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
.recipe-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33vh;
  height: 33vh;
  margin: auto;
  border: solid 0.1vh white;
}
