.home-recommendations-container {
  z-index: 91;
  transition: 0.5s ease-in-out;
}
.home-recommendations-header {
  font-size: calc(100vh * 0.08);
  color: var(--primary);
  text-align: center;
}
.home-recommendations-button {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0 1vh;
  font-size: 1.5vh;
  font-weight: 400;
  border-radius: 3vh;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.home-recommendations-button:hover {
  color: black;
  background-color: rgba(200, 200, 200, 1);
}
.home-recommendations-grid {
  margin: 2vh auto 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 1vh;
  max-height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
  place-items: center;
}
.home-recommendations-grid::-webkit-scrollbar {
  width: 0.5vh;
}
.home-recommendations-grid::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.8);
}
.home-recommendations-grid::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}
.home-recommendations-grid::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
.recipe-card-container {
  margin: 0 1vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35vh;
  height: 35vh;
}

@media screen and (max-width: 2320px) {
  .home-recommendations-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 1360px) {
  .home-recommendations-grid {
    width: fit-content;
    grid-template-columns: none;
  }
}
@media screen and (max-width: 800px) {
  .home-recommendations-container {
    padding: 3vh 0;
  }
}
