.filter-accordion-container {
  margin-bottom: 20px;
}
.filter-accordion-label {
  font-size: 1.6em;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 265px auto;
  align-items: center;
  padding: 0 5px;
  transition: 0.3s ease-in-out;
}
.filter-accordion-label:hover {
  background-color: rgb(200, 200, 200, 0.8);
  cursor: pointer;
}
.filter-accordion-icon {
  width: 2em;
}
.filter-types-outer {
  overflow: hidden;
}
.filter-types-container {
  margin-left: 2em;
  animation: slideDown 0.8s;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.filter-type {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
  margin: 5px 0;
  padding-left: 8px;
  transition: 0.3s ease-in-out;
}
.filter-type:hover {
  background-color: rgb(200, 200, 200, 0.8);
}
.filter-type-label {
  font-size: 1.3em;
  text-transform: capitalize;
  cursor: pointer;
}
.filter-type-checkbox {
  height: 20px;
  width: 20px;
  background-color: var(--background-secondary);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.filter-type-checkbox:hover {
  background-color: var(--primary-fader);
}
.filter-type-checkbox:checked {
  background-color: var(--primary);
}
