.profile-page-container {
  height: 150vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}
.profile-page-content {
  /* height: 100vh; */
}

.profile-page-user-details {
  width: 90%;
  margin: 10vh auto;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0.3vh 0.3vh 0.8vh rgba(0, 0, 0, 0.8);
}
.avatar-example {
  width: 30vh;
  height: 30vh;
  margin-right: 3vh;
}
.avatar-example img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
}
.user-details {
  padding: 1vh;
  display: flex;
  flex-direction: column;
}
.user-name {
  font-size: 2.5vh;
}
