.recipe-list-view-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 5vh auto;
  transition: opacity 0.4s ease-in-out;
}
.recipe-list-view-header {
  font-size: 4.5em;
  text-transform: capitalize;
  margin: 20px 0;
}
.recipe-list-view-content {
  display: grid;
  grid-template-columns: repeat(4, 450px);
  row-gap: 2vh;
}
.recipe-list-view-item {
  height: 400px;
  width: 400px;
}
.recipe-list-view-filter-container {
  margin: 7vh 0 0 15px;
  transition: opacity 0.4s ease-in-out;
}
