.recipe-list-view-inner-content {
  width: fit-content;
  display: grid;
  grid-template-columns: 500px auto;
  padding-top: 30px;
  margin: auto;
}
.recipe-list-view-container {
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 5vh auto;
  transition: opacity 0.4s ease-in-out;
}
.recipe-list-view-header {
  width: calc(450px * 3 + 420px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  margin: 20px 0;
}
.recipe-list-view-label {
  font-size: 4.5em;
  color: var(--primary);
}
.recipe-list-view-content {
  display: grid;
  grid-template-columns: repeat(4, 450px);
  row-gap: 2vh;
}
.recipe-list-view-none {
  font-size: 2.5em;
  height: 60vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--primary-dark);
}
.recipe-list-none-icon {
  width: 200px;
  background-color: var(--background-secondary);
  fill: var(--primary);
  padding: 20px;
  border-radius: 50%;
}
.recipe-list-view-item {
  height: 420px;
  width: 420px;
}
.recipe-list-view-filter-container {
  margin: 7vh 0 0 15px;
  transition: opacity 0.4s ease-in-out;
}
