.home-contents-container {
  display: flex;
  flex-direction: column;
  height: 100vh * 3;
}
.home-contents-section {
  /* background-image: url("https://wallpaperaccess.com/full/1843880.jpg"); */
  /* background: paleturquoise; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 95;
  overflow: hidden;
}
