.home-contents-container {
  width: 100%;
  display: grid;
  grid-template-rows: 100vh 100vh auto;
  /* background-size: 300%, 100%;
  background-image: linear-gradient(
    120deg,
    rgb(174, 175, 175) 0%,
    rgb(183, 187, 189) 20%,
    rgb(175, 176, 177) 40%,
    rgb(186, 191, 196) 60%,
    rgb(181, 184, 187) 80%,
    rgb(198, 202, 206) 100%
  );
  animation: gradanim 7s infinite ease-in-out alternate; */
}

@keyframes gradanim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.home-search-section {
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 95;
  width: 100%;
  overflow: hidden;
  background-image: url("https://www.teahub.io/photos/full/19-191749_3840x2160-healthy-fibrous-foods-wallpaper-high-resolution-food.jpg");
  background-size: 300vh;
  background-repeat: no-repeat;
}

.home-contents-section {
  justify-self: center;
  display: grid;
  place-items: center;
  z-index: 95;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-about-section {
  display: grid;
  min-height: 100vh;
  place-items: center;
  z-index: 95;
}
