.user-featuring-container {
  width: 100%;
  height: 51vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
}
.user-featuring-header {
  font-size: 4.5vh;
  font-weight: 200;
  padding: 2vh 8vh;
  white-space: nowrap;
}
.featuring-carousel-container {
  display: flex;
  margin: 0 auto;
  max-width: calc(5 * 35vh + 10 * 0.5vh);
  width: 100%;
  height: 36vh;
  background-color: rgba(244, 244, 244, 0.5);

  overflow: hidden;
}
.featuring-carousel {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}
.featuring-carousel-item {
  height: 35vh;
  width: 35vh;
  padding: 0.5vh;
}
