.user-profile-container {
  display: grid;
  grid-template-rows: 50vh 50vh;
}
.user-profile-edit-button {
  font-size: 1.2em;
  font-weight: 300;
  padding: 0 15px;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  z-index: 99;
}
.user-profile-edit-button:hover {
  color: var(--primary);
  background-color: rgba(200, 200, 200, 1);
}

.user-profile-header {
  display: grid;
  place-items: end;
  background-image: url("https://cutewallpaper.org/21/coolest-steam-profile-backgrounds/Discussion-Best-Steam-profile-backgrounds-.jpg");
  background-color: var(--primary-fade);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.user-profile-content {
  display: grid;
  background: var(--background);
}
.avatar-example {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 6px solid var(--background);
  object-fit: cover;
}
.user-details-outer-container {
  display: grid;
  place-items: center;
  background-color: transparent;
  margin-top: -325px;
}
.user-details-container {
  height: 100%;
  width: 800px;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}
.user-name {
  font-size: 3.5em;
  font-weight: 500;
}
.user-about {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}
.user-profile-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.user-profile-button {
  padding: 0 1em;
  margin: 30px 1.5em 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  cursor: pointer;
}
.user-profile-button:hover .user-stat-value {
  text-decoration: underline;
}
.user-stat-value {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin: 0 0.5em;
  color: rgb(0, 0, 0, 0.6);
}
.user-stat-label {
  font-weight: 300;
}
.user-created-icon {
  width: 1.5em;
  filter: contrast(0.4);
}
.user-complete-icon {
  width: 1.5em;
  filter: contrast(0.4);
}
