.scroll-button-container {
  position: fixed;
  top: 50%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  z-index: 99;
  padding: 0 1vh;
}
.scroll-button {
  position: absolute;
  left: 1vh;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  background-color: var(--background);
  z-index: 93;
  transition: top 0.3s ease-in-out;
}
.icon {
  width: 2.5vh;
  padding: 1vh;
  border-radius: 50%;
  fill: var(--button-color);
  z-index: 94;
  cursor: pointer;
}
.icon:hover {
  fill: var(--button-hover-color);
  background-color: var(--background-secondary);
}
