.home-search-container {
  background-color: var(--primary-fader);
  border-radius: 30px;
  padding: 150px;
  transition: background-color 0.5s ease-in-out;
}
.home-search-container:focus-within {
  background-color: var(--primary-fade);
}
.home-search-header {
  margin-bottom: 3vh;
  font-size: calc(100vh * 0.1);
  text-align: center;
  color: white;
}
.home-search-bar-container {
  position: relative;
  margin: auto;
  height: calc(100vh * 0.05);
  width: 70%;
}
.home-search-bar {
  width: calc(100% - 12vh);
  height: 100%;
  border-radius: 3vh;
  padding: 0 6vh;
  font-size: 1.7vh;
  border: none;
  outline: none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
.home-search-bar:focus {
  opacity: 1;
}
.home-search-icon {
  position: absolute;
  top: calc((100% - 3.5vh) / 2);
  left: 1.75vh;
  width: 3.5vh;
  fill: var(--icon);
}
::placeholder {
  color: var(--primary);
  opacity: 0.4;
}
@media screen and (max-width: 645px) {
  .home-search-container {
    padding: 6vh 0;
  }
}
