.home-search-container {
  margin: 25vh auto;
  padding: 10vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3vh;
  z-index: 95;
}
.home-search-header {
  margin-bottom: 5vh;
  font-size: calc(100vh * 0.1);
  font-weight: 500;
  text-align: center;
}
.home-search-bar-container {
  position: relative;
  margin: 0 auto;
  height: calc(100vh * 0.05);
  width: 50%;
  display: flex;
}
.home-search-bar {
  width: 100%;
  height: 100%;
  border-radius: 3vh;
  padding: 0 3vh 0 6vh;
  font-size: 1.7vh;
  border: none;
  outline: none;
  box-shadow: 0.3vh 0.3vh 0.8vh rgba(0, 0, 0, 0.4);
}
.home-search-icon {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 3.5vh;
}
