.home-search-container {
  border-radius: 30px;
  padding: 150px;
}
.home-search-container:focus-within .home-search-header {
  color: var(--primary);
}
.home-search-header {
  font-size: 8em;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-fade);
  transition: color 0.3s ease-in-out;
}
.home-search-bar-container {
  height: 4em;
  width: 70%;
  display: grid;
  grid-template-columns: 3.5em auto;
  place-items: center;
  margin: auto;
  padding: 0 30px;
  border-radius: 30px;
  box-shadow: 1px 1px 6px var(--primary);
  background-color: var(--background-secondary);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.home-search-bar-container:focus-within {
  opacity: 1;
}
.home-search-bar {
  font-size: 1.5em;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--background-secondary);
}
.home-search-icon {
  width: 2.5em;
  fill: var(--primary);
}
::placeholder {
  color: var(--primary);
  opacity: 0.4;
}
@media screen and (max-width: 1210px) {
  .home-search-container {
    padding: 80px 0;
  }
}
