.recipe-view-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  overflow: auto;
  background-color: var(--primary-fader);
  transition: background-color 0.5s ease-in-out;
}
.recipe-view-content {
  max-height: 80%;
  min-width: 70%;
  max-width: 90%;
  display: grid;
  grid-template-columns: 500px auto;
  margin-top: 50px;
  transform: translateY(-130%);
  opacity: 0.5;
  background-color: var(--background);
  overflow: auto;
  transition: 0.5s ease-in-out;
}
.recipe-view-right-content {
  display: grid;
  grid-template-rows: 2em auto;
}
.recipe-view-buttons-container {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  place-self: start end;
  padding: 20px 20px 0 0;
  color: var(--primary);
}
.recipe-view-like {
  width: 1.5em;
  fill: red;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
.recipe-view-save {
  width: 1.5em;
  fill: var(--primary);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
.recipe-view-start {
  width: 1.5em;
  fill: green;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
.recipe-view-like:hover {
  opacity: 0.6;
}
.recipe-view-save:hover {
  opacity: 0.6;
}
.recipe-view-start:hover {
  opacity: 0.6;
}
.recipe-view-instructions-container {
  display: grid;
  grid-template-columns: 35% 65%;
}
.recipe-view-instructions-content {
  display: flex;
  flex-direction: column;
}
