:root {
  --primary-dark: rgb(16, 29, 41);
  --primary-darker: rgb(10, 20, 29);
  --primary-light: rgb(34, 64, 90);
  --primary-lighty: rgb(64, 80, 95);
  --primary-lighter: rgb(130, 164, 196);
  --primary-light-ish: rgb(42, 56, 70);
  --primary: rgb(22, 39, 54);
  --primary-fade: rgba(19, 36, 51, 0.8);
  --primary-fader: rgba(19, 36, 51, 0.5);
  --button-color: rgb(34, 63, 89);
  --button-hover-color: rgb(19, 36, 51);
  --button-bg: rgb(200, 200, 200);
  --button-hover-bg: rgba(200, 200, 200, 0.3);
  --background: rgb(243, 243, 246);
  --background-secondary: rgb(221, 225, 226);
  --background-dark: rgb(227, 227, 230);
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  resize: none;
}
input[type="checkbox"] {
  appearance: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 1);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
