.recipe-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.recipe-container:hover .recipe-description {
  transform: translateY(0);
  background-color: var(--primary-fade);
}
.recipe-description {
  width: calc(100% - 10px);
  text-align: end;
  display: grid;
  grid-template-rows: auto 25px;
  position: absolute;
  bottom: 0;
  padding: 5px;
  transform: translateY(30px);
  background-color: var(--primary-fader);
  color: white;
  transition: 0.5s ease-in-out;
}
.recipe-details {
  font-weight: 300;
  color: darkgrey;
}
.recipe-label {
  font-size: 1.8em;
  font-weight: 200;
}
.recipe-img {
  height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.recipe-img-fault {
  height: 100%;
  object-fit: contain;
  position: absolute;
}
