.home-about-container {
  margin: 10vh auto;
  width: 90%;
  padding: 5vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3vh;
  z-index: 91;
  transform: translateY(100vh);
  transition: 0.8s ease-in-out;
}
.home-about-header {
  margin-bottom: 1vh;
  font-size: calc(100vh * 0.1);
  font-weight: 500;
  text-align: center;
}
.home-about-content {
  font-size: 2vh;
  width: 80%;
  margin: auto;
  padding: 5vh;
  border-radius: 5vh;
  color: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}
