.home-about-container {
  width: 80%;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  background-color: var(--background);
  box-shadow: 0 0 30px var(--primary);
  z-index: 91;
  transform: translateY(100vh);
  transition: 0.5s ease-in-out;
}
.home-about-header {
  font-size: 8em;
  font-weight: 500;
  color: var(--primary);
  text-align: center;
}
.home-about-content {
  font-size: 1.6em;
  width: 80%;
  margin: 55px auto;
  padding: 10px;
  color: var(--primary-fade);
}

.home-about-content::-webkit-scrollbar {
  width: 5px;
}
.home-about-content::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
.home-about-content::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 1);
}

@media screen and (max-width: 1900px) {
  .home-about-content {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 655px) {
  .home-about-content {
    max-height: 30vh;
    overflow-y: scroll;
  }
}
